{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                <input type="button" class="btn btn-primary" value="Determine Current Conditions at Your Location"
                       onclick="getConditions()">
            </p>
            <p class="text-justify">
                <span id="results-span"></span>
            </p>
        </div>
    </div>
</div>
<script type="text/javascript">
    var position;
    var getConditions = function () {
        navigator.geolocation.getCurrentPosition(function (geoposition) {
            position = geoposition;
            $("#results-span").html('<iframe width="600" height="450" frameborder="0" style="border:0"' +
                    'src="https://www.google.com/maps/embed/v1/place?zoom=16&q=' + position.coords.latitude +
                    ',' + position.coords.longitude + '&key=AIzaSyA4T1fjExOOzsCU87yozyK9vjqtiEOiLoU&maptype=satellite" ' +
                    'allowfullscreen></iframe>');

        });
    };
</script>
{% endblock %}