{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <p>
            Hi There!
        </p>

        <p>
            <button type="button" class="btn btn-default btn-lg disabled">Stay Informed</button>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                Lorem ipsum dolor sit amet, eam cu sumo meliore, eos primis urbanitas id. Ei qui nostrud consequat.
                Deleniti percipitur mel eu, everti prompta ad usu. Liber malorum corrumpit no usu. Vel nostro
                consulatu id, sit civibus fastidii vituperata ne.
            </p>
        </div>
    </div>
</div>
{% endblock %}